{% extends "groceries/base.html" %}
{% csrf_token %}
   
{% block content%}
    <h1>Groceries in the Grocery Store(Food: fo,
        Drinks: dr, Other items: ot)
    </h1>
    <table style="width: 100%">
        <tr>
            <th>Grocery Type</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date Ordered</th>
            <th>Available</th>
            <th>Grocery Store ref</th>
        </tr>
        {% for item in object_list %}
            <tr> 
                <td>{{ item.grocery_type }}</td>
                <td><a href="{% url 'groceries:groceries' item.id %}">{{ item.brand }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{item.price }}</td>
                <td>{{ item.date_ordered }}</td>
                <td>{{ item.is_available }}</td>
                <td>{{ item.grocery }}</td>
            </tr>
        {% endfor %}

    </table><br>

{% endblock content%} 