body {
    background-color: cornsilk;
}
h1 {
    color: yellowgreen;
    font-family: 'Trebuchet MS';
}
tr {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: italic;
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: italic;
    color: black;
}

h2 {
    color: yellowgreen;
    font-family: 'Trebuchet MS';
}