{% extends "fooditems/base.html" %}
{% csrf_token %}
{% block content %}
    <h3>Supplier</h3>
    <p>Supplier name: {{ object.supplier_name }}</p>
    <p>Supplier email: {{ object.supplier_email }}</p>
    <p>Supplier phone: {{ object.supplier_phone }}</p>
    <p>Other details: {{ object.other_details }}</p><br>

    <h4>Location</h4>
    <p>City: {{ object.city }}</p>
    <p>Zip Postcode: {{ object.zip_postcode }}</p>
    <p>Country: {{object.country }}</p>
    <p>Other details: {{ object.other_details }}</p>
    <p>Fooditems: {{ object.fooditems }}</p>
    <p>Suppliers: {{ object.suppliers }}</p>

{% endblock content%}